body{
    background-color: #fcf3f3;
}

.container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.logo{
    text-align: center;
    margin: 50px;
}

.logo img{
    width: 200px;
}

.menuContainer{
    background-color: lightcoral;
}

.col-2{
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
}

.hslContainer{
    background-color: limegreen;
    margin: 15px;

}


.weatherContainer{
    display: flex;
    flex-flow: row nowrap;
    background-color: #ffc300;
    padding: 10px;

    
}

.col{
    background-color: #fff;
}

.card{
    padding: 10px;
    text-align: center;
    border: none;
}

.card-title{
    font-size: 15px;
    background-color: rgb(145, 190, 192);
    padding: 5px;
}


.card .text-muted{
    font-size: 8px;
}

.card-text{
    font-size: 12px;
}